

{% extends "base.html" %}

{% block title %} HOME {% endblock %}


{% block content %}


<section id="users">

    <img class="user_img" src="{{user.img_url}}" alt="Photo of {{user.first_name}} {{user.last_name}}">
    <p class="user_name">{{user.first_name}} {{user.last_name}}</p>
    <a href="/{{user.id}}/edit" class="btn btn-outline-success">Edit</a>
    <a href="/{{user.id}}/delete" class="btn btn-outline-success">Delete</a>
    <a href="/{{user.id}}/add_post" class="btn btn-outline-success">Add Post</a>
    

    <h3 class="user_name">POSTS</h3>
    <hr>
    <div class="user-posts">
    {% for post in posts %}
        <p><a href="/posts/{{ post.id }}" class="href">{{post.title}} | posted on: {{post.friendly_date}}</a></p>
    {% endfor %}
    
    </div>



</section>


{% endblock %}
