

{% extends "base.html" %}

{% block title %} USER POST {% endblock %}


{% block content %}







<section id="users">

<h3 class="users_title">{{post.title}}</h3>
<p>{{post.content}}</p>
<small>{{post.friendly_date}}</small>
<br>
<h5>Tags</h5>
<hr>
{% for tag in tags %}
<p>{{tag.name}}</p>
{% endfor %}
<br>
<hr>
    <a href="/posts/{{post.id}}/edit_post" class="btn btn-outline-success">Edit</a>
    <a href="/posts/{{post.id}}/delete_post" class="btn btn-outline-danger">Delete</a>
    <a href="/{{post.id}}" class="btn btn-outline-warning">Cancel</a>







</section>


{% endblock %}
